:root {
	--title-color: #0b3c5d;
	--bto-color: #d9b310;
	--back-color: #1d2731;
	--selected-background: rgba(217, 179, 16, 0.5);
	--selected-predecessor-background: rgba(247, 59, 59, 0.384);

	--pane-opacity: rgba(29, 39, 49, 0.3);
	--hr-opacity: rgba(255, 255, 255, .45);
	--full-aplha: rgba(255, 255, 255, 0);
}

.pane-opacity {
	background: var(--pane-opacity);
	color: white;
}
.pane-opacity div {
	background: var(--full-aplha);
}

.inner-title {
	font-size: 16pt;
	color: var(--bto-color);
	font-weight: bold;
}
.withCursor {
	cursor: pointer;
}
.menu-title {
	color: var(--title-color);
	font-weight: bold;
	font-size: 19pt;
}

.dialog-title {
	color: var(--title-color);
	font-weight: bold;
	font-size: 16pt;
}

.dialog-title2 {
	color: var(--title-color);
	font-weight: bold;
	font-size: 14pt;
}

.dialog-text {
	color: var(--title-color);
	font-weight: normal;
	font-size: 12pt;
}

.dialog-text-2 {
	color: var(--title-color);
	font-weight: normal;
	font-size: 14pt;
}
.clickable-content {
	cursor: pointer;
}

.selected-content {
	font-size: 15pt;
	background: var(--selected-background);
	color: white;
	font-weight: bold;
}

.selected-predecessor {
	font-size: 15pt;
	background: var(--selected-predecessor-background);
	color: white;
	font-weight: bold;
}

.content {
	font-size: 12pt;
	color: white;
	white-space: pre;
	font-weight: normal;
}

.event-title {
	font-size: 12pt;
	color: white;
	font-weight: bold;
}
.error-lbl {
	font-size: 16pt;
	color: tomato;
	font-weight: normal;
}

.note {
	font-size: 12pt;
	color: red;
	font-weight: bold;
}

.note-body {
	font-size: 11pt;
	color: var(--title-color);
	font-weight: normal;
}

.event-content {
	font-size: 11pt;
	color: white;
	font-weight: bold;
}

.event-rhs {
	color: var(--bto-color);
	font-size: 11pt;
}

.object-lhs {
	font-size: 11pt;
	color: white;
	font-weight: bold;
}

.object-rhs-special {
	font-size: 12pt;
	color: var(--bto-color);
	font-weight: bold;
}

.object-rhs-normal {
	font-size: 10pt;
	color: white;
	font-weight: normal;
}
.table td.fit,
.table th.fit {
	white-space: nowrap;
	width: 1%;
}

hr {
	border: 0 none;
	border-top: 1px dotted var(--hr-opacity);
	background: none;
	height: 0;
}

.modal-settings {
	overflow-y: initial !important;
	width: 50%;
}

.modal-settings-2 {
	overflow-y: initial !important;
	width: 50%;
}

.modal-settings-body {
	max-height: 300px;
	overflow-y: auto;
	width: auto;
}

.modal-track-bto {
	background: var(--title-color);
	color: var(--bto-color);
}

.bar-rhs {
	color: var(--back-color);
	font-weight: bold;
	text-decoration: underline;
}

.main-node {
	background: var(--title-color);
	color: white;
}

.for-loop-body {
	background: var(--title-color);
	color: white;
	display: block;
	border-radius: 5px;
	border: 2px solid white;
}

.for-loop-body > tr > td > label {
	display: block;
}
.for-loop-body > tr > td > codeWrapper {
	cursor: pointer;
}

node {
	background: var(--pane-opacity);
	color: white;
	display: block;
	font-size: 13pt;
	border-radius: 10px;
	padding: 5px;
	width: 600px !important;
	border: 2px solid white;
}

.specialLabel {
	color: var(--bto-color);
	font-weight: bold;
}

.node-line {
	color: var(--bto-color);
	font-size: 11pt;
	text-align: right;
	width: 100%;
}
