body {
	background-image: url('../../img/bg.jpg');
	background-repeat: round;
}

#content {
	height: 0 !important; /* hack :) */
}

#wrapper {
	height: 100%;
	width: 100%;
}

[data-path] {
	background-color: white;
}

div[data-path="/1/1"],
div[data-path="/2/1"],
div[data-path="/2/2/1"],
div[data-path="/2/2/2"] {
	overflow-x: hidden;
	overflow-y: auto;
}

div[data-path="/2/2/1"].limit-max-height {
	max-height: 55% !important;
}

div {
	background: rgba(255, 255, 255, 0);
}

#graph-container {
	width: auto;
	height: 100%;
}

#graph-container.limit-max-width {
	max-width: 80% !important;
}

svg {
	width: 100%;
	height: 100%;

	overflow: visible;
}
path.link {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}
text {
	font-family: sans-serif;
	pointer-events: none;
	color: white;
}
foreignObject {
	overflow: visible;
	width: 500px;
	display: block;
}
