:root {
	--title-color: #0b3c5d;
	--bto-color: #d9b310;
	--back-color: #1d2731;
	--selected-background: rgba(217, 179, 16, 0.5);
	--pane-opacity: rgba(29, 39, 49, 0.3);
	--full-aplha: rgba(255, 255, 255, 0);
}

.pane-opacity {
	background: var(--pane-opacity);
	color: white;
}
.pane-opacity div {
	background: var(--full-aplha);
}

.inner-title {
	font-size: 16pt;
	color: var(--bto-color);
	font-weight: bold;
}

.menu-title {
	color: var(--title-color);
	font-weight: bold;
	font-size: 19pt;
}

.clickable-content {
	cursor: pointer;
}

.selected-content {
	font-size: 15pt;
	background: var(--selected-background);
	color: white;
	font-weight: bold;
}

.content {
	font-size: 12pt;
	color: white;
	white-space: pre;
	font-weight: normal;
}

.event-title {
	font-size: 12pt;
	color: white;
	font-weight: bold;
}

.event-content {
	font-size: 11pt;
	color: white;
	font-weight: bold;
}

.event-rhs {
	color: var(--bto-color);
	font-size: 11pt;
}

.object-lhs {
	font-size: 11pt;
	color: white;
	font-weight: bold;
}

.object-rhs-special {
	font-size: 11pt;
	color: var(--bto-color);
	font-weight: normal;
}

.object-rhs-normal {
	font-size: 10pt;
	color: white;
	font-weight: normal;
}

hr {
	background: white;
}

.bar-rhs {
	color: var(--back-color);
	font-weight: bold;
	text-decoration: underline;
}
